<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" ref="/favicon.ico">
  <link rel="stylesheet" type="text/css" href="css/design.css">
  <title>Commonizer (Choose either)</title>
</head>
<body>
  <header>
    <font size="64">CHOOSE EITHER</font>
  </header>
  <br>
  <div class="inputarea" aling="center">
    <form action="make" method="post">
        <input class="inputarea" type="submit" value="MAKE" name="MAKE" id="make">
      </font>
    </form>
    <form action="join" method="post">
        <input class="inputarea" type="submit" value="JOIN" name="join" id="text">
        <input class="inputarea" type="text" name="text" id="text">
    </form>
  </div>
</body>
</html>