<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="receiver.js"></script>
  <link rel="shortcut icon" ref="/favicon.ico">
  <title>Receiver</title>
</head>
<body>
  <p>Receiver</p>
  <div>
    <form action="joinroom" method="post">
      <input type="number" placeholder="IDを入力">
      <input type="submit" placeholder="参加">
    </form>
  </div>
  </body>
</html>