<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
      // 同義：var senderId = OOOOOO
      window.roomId = "<%= @room_id %>";
    </script>
    <link rel="shortcut icon" ref="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/design.css">
    <title>Commonizer (Sender)</title>
  </head>
  <body>
    <!-- Global variables /!-->
    <input type="hidden" id="roomId" value="<%=@room_id%>">
    <header>
      <font size="32">Sender </font><%= @room_id %>
    </header>
    <br>
    <div>
      MENU
      <br>
      <div id="debugConsole"></div>
    </div>
    <div>
      <video id="screen" width="569" height="320" class="screen" autoplay playsinline muted loop >
      </video>
    </div>
  </body>
</html>
