<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
      // 同義：var senderId = OOOOOO
      window.roomId = "<%= @room_id %>";
    </script>
    <link rel="shortcut icon" ref="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/design.css">
    <title>Commonizer (Sender)</title>
  </head>
  <body oncontextmenu="return false;">
    <!-- Global variables /!-->
    <input type="hidden" id="roomId" value="<%=@room_id%>">
    <div>
      <font size="32">Sender </font>
      <button id="exitButton"><font size="32">Exit</font></button>
    </div>
    <br>
    <div>
      <div id="debugConsole"></div>
    </div>
    <div>
      <!--width="640" height="360" !-->
      <video id="screen" class="screen" autoplay playsinline muted loop poster="/earth-preloader.gif">
      </video>
    </div>
    <div>
      <textarea name="" id="" cols="40" rows="5"></textarea>
    </div>
  </body>
</html>
