<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script>
    // 同義：var senderId = OOOOOO
    window.senderId = <%= @sender_id %>;
  </script>
  <script src="sender.js"></script>
  <link rel="shortcut icon" ref="/favicon.ico">
  <title>Sender</title>
</head>
<body>
  <p>Sender</p>
  <p>Sender ID: <%= @sender_id %></p>
  <video id="myscreen" width="530" height="300" autoplay playsinline muted loop></video>
</body>
</html>